/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');


/*asterisk wildcard selector to override defalut styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato',sans-serif;
    
}

/*Header*/
header {
background-color:#ffffff ;
padding:0 1rem ;
position: fixed;
z-index: 99;
width: 100%;
box-shadow: 0 2px 2px #3a3a3a;
display: flex;
justify-content: space-between;
align-items: baseline;

}

header a{
    text-decoration: none;
    color: inherit;
}

/*h1 and font-family*/
h1{
    font-family: 'Oswald',sans-serif;
    letter-spacing: 2px;
    color: #252525;
    text-transform: uppercase;
}

#menu{
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li{
    margin-bottom: 1em;
}

.active{
    border-bottom: solid 1px #3a3a3a;
}
/* navbar style with dropdown toggle*/
nav{
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/*nav-toggel*/
#nav-toggel:checked~nav{
    display: block;
}

#nav-toggel{
    display: none;
}

.nav-toggel-label{
    font-size: 2rem;
}
/*Maincontent*/
main {
background-color: lightblue;
/* Make main element or giving main element take up any surplus space to push footer down */
flex: 1 0 auto;
margin-top: 47px;
}
/*footer*/
footer{
    background-color: orange;
}
/*Media query:tbalets and larger screens(768px and up) */
@media screen and (min-width: 768px) {
    /*Header*/
    nav{
        display: block;
        position: relative;
        box-shadow: none;
        padding-right: 1rem;
        width: fit-content;

    }
    #menu{
        
        display: flex;
    }
    #menu > li{
        padding-left: 1rem;
    }
    .nav-toggel-label{
        display: none;
    }
}
